/* register styles */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.form-box {
    background-color: #333;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.auth-button:hover {
    background-color: #888;
}

.oauth-buttons {
    margin-top: 20px;
}

.google-button,
.github-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.google-button {
    background-color: #de5246; /* Google color */
}

.github-button {
    background-color: #333; /* GitHub color */
}

.google-button:hover {
    background-color: #c2463a;
}

.github-button:hover {
    background-color: #555;
}

a {
    color: #aaa;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.message-box {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.message-box.error {
    background-color: #ffdddd;
    color: red;
}

.message-box.success {
    background-color: #ddffdd;
    color: green;
}
