/* Global Container */
.rooms-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.light-mode {
    background-color: #f4f4f4;
    color: #333;
}


/* Header */
.rooms-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 1.2rem;
    color: #6a6a6a;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.theme-toggle-btn{
    padding: 10px 20px;
    border: none;
    background-color: #917d7d29;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.logout-btn {
    padding: 10px 20px;
    border: none;
    background-color: #911111b0;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
    background-color: #555;
}
.logout-btn:hover {
    background-color: #400000;
}
/* Body */
.rooms-body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.rooms-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

/* Room Card */
.room-card {
    background-color: #ffffff00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.room-image {
    width: 100%;
    height: 136px;
    object-fit: cover;
    border-radius: 111px;
    margin-bottom: 12px;
}

.room-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #adadad;
}

.room-id {
    font-size: 1rem;
    color: #888;
}

/* Footer */
.rooms-footer {
    text-align: center;
    padding: 15px;
    background-color: #3333330a;
    color: #fff;
    font-size: 0.9rem;
}

.light-mode .rooms-footer {
    background-color: #f4f4f4;
    color: #333;
}

.dark-mode .room-card {
    background-color: #ffffff00;
    color: #f4f4f4;
    border-left: 10px solid #ffffff0a;
}
.room-admin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.room-admin-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #9d9d9d;
}

/* Statistics Section */
.stats {
    display: flex;
    gap: 20px;
}

.stat-card {
    background-color: #ffffff00;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    text-align: center;
}

.stat-card h3 {
    margin-bottom: 10px;
}

/* Management Sections */
.management-section {
    display: flex;
    gap: 40px;
}

.viewer-management, .collaborator-management {
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #33333305;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

li:hover {
    background-color: #33333320;
}

.remove-btn {
    background-color: #a30000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px
}


.edit-button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 149, 30, 0.41);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.edit-button:hover {
    background-color: rgba(8, 30, 0, 0.32);
}

/* Project Management */
.project-management {
    flex: 1;
}

.project-management ul {
    list-style-type: none;
    padding: 0;
}

.project-management li {
    background-color: #33333305;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.project-management li:hover {
    background-color: #33333320;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #93939394;
    background: #00000000;
    color: #a7a7a7;
    border-radius: 20px;
}